body {
    
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    background-color: #f1f1f1;
    letter-spacing: 20px;
    display: flex;
    
  }

select {
    
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    text-align: center;
    font-size: 20px;
       
}

div {

  margin-top: 30px;
  margin-bottom: 15px;

}

 #Ingreso {

  background-color: white;
  width: 50%;
  max-width: 600px;
  margin-left: 40px;
  margin-bottom: auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;

 }

 
 #Contador {

    background-color: white;
    width: 50%;
    max-width: 600px;
    margin-left: 60px;
    margin-bottom: auto;
    display: bloc;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
  
   } 
 
   #tga {

    background-color: rgb(196, 193, 193);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 4px;
  
  }

  #as {

    background-color: rgb(196, 193, 193);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 4px;
  
  }
  

 input {

    width: 90%;
    height: 30px;
    margin: 0.5rem;
    text-align: center;
    font-size: 20px;
 }

p {

    letter-spacing: 10px;

}

label {

margin-top: 20px;

}

.title {

  background-color: rgb(196, 193, 193);
  text-align: center;
  margin-top: 0px;
  width: 100%;
  border-bottom: 2px solid black;
  border-radius: 4px;

}


img {

    display:block;
    margin:auto;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

input[type=submit]{

    background-color: rgb(4, 4, 245);
    color: white;
    border-color: black;
    width: auto;
    cursor: pointer;
    
}

input[type=button]{

  background-color: rgb(4, 4, 245);
  color: white;
  border-color: black;
  width: auto;
  cursor: pointer;
  
}

input[type=submit]:hover {
    color: rgba(255, 255, 255, 1) ;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

input[type=button]:hover {
    color: rgba(255, 255, 255, 1) ;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }


.visual {

font-size:medium;
letter-spacing: 0px;
display: inline-table;

}
 
ul {

display: table-row;

}

